#editor {
    width: 98%;
    height: 800px;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    overflow: scroll;
}

.box,
.box-end {
    min-width: 180px;
    max-width: 400px;
    width: 200px;
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    position: absolute;
}

.question-box {
    background-color: #b8d4a2;
}

.multi-box {
    background-color: #9ecfdf;
}

.drawing-box {
    background-color: #c5a8cc;
}

.req {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    clear: both;
}

.task {
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 5px;
}

.answer-add {
    padding: 10px;
}

.add-answer,
.add-tool {
    height: 46px;
}

.tool-add {
    padding: 10px;
}

.answer-item {
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    width: 100%;
}

#end,
#start {
    min-width: 30px;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
}

.close-box {
    margin-right: 10px;
}

.box-head {
    color: #000;
    opacity: 0.5;
    float: left;
    margin-left: 10px;
}

.type-select {
    margin-left: 5%;
    margin-bottom: 10px;
    width: 45%;
}

.color-select {
    margin-right: 5%;
    margin-bottom: 10px;
    width: 45%;
}

.add-help {
    margin-left: 10px;
    margin-bottom: 5px;
}

.lab {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    background-color: rgba(255,255,255,.5);
    border: none
}

textarea.form-control {
    padding: 2px 4px;
}

._jsPlumb_connector {
    z-index: 0;
}

.close {
    line-height: 0.65;
}

.edit-icon {
    float: right;
    opacity: 0.3;
}

.edit-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}